<footer class="flex fixed bottom-0 justify-between w-full px-4 py-2 text-sm border-t-2">
  <span>
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
  </span>
  <ul class="flex flex-row gap-2 ">
    <li><%= link_to "About", '#' %></li>
    <li><%= link_to "Contact", '#' %></li>
    <li><a href="https://news.railstutorial.org/">News</a></li>
  </ul>
</footer>
