<nav class="flex justify-between p-4">
  <div>
    <%= link_to image_tag('RailsLogo.svg', width: "100px"), '#'%>
  </div>
  <ul class="flex flex-row list-none gap-4">
    <li>
      <%= link_to "About", '#' %>
    </li>
    <li>
      <%= link_to "Help", '#' %>
    </li>
  </ul>
  <div>
    Sign In
  </div>
</nav>
